fastapi
uvicorn
dotenv
langchain
langchain-openai
pymongo
shortuuid
langgraph
mailjet
mailjet_rest
passlib[bcrypt]
sqlalchemy
argon2_cffi
python-multipart
python-jose[cryptography]
langchain-community
pypdf
chromadb
rank_bm25
langchain-ollama
